{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
</head>
<body>
    <span>gsgghshshshshshhs</span>
    <div style="color:red ;">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.<span>Nisi fugit illum debitis vero quidem assumenda ex animi, magni facilis iste, quam sit, </span> accusantium! Ipsa pariatur alias reprehenderit quaerat cumque.
    </div>
    
</body>
</html>