{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style3.css' %}">
</head>
<body style="height:2000px ;">
    <div id="nb">

    </div>
    <div id="p4">
    <p id="p">

    </p>
    <p id="p1">

    </p>
    <p id="p2">

    </p>
</div>
<p id="p5">help</p>

</body>
</html>